.announcements {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  color: $color-text;
  background-color: $color-secondary;
  border: 5px solid $color-tertiary;
  border-radius: 3rem;
}

.popular {
  &-items,
  &-stores {
    grid-column: 3 / 8;
    background-color: rgba($color-secondary, 0.5);
  }
}
