$color-primary-light: #f6e399;
$color-primary: #e2b714;
$color-primary-dark: #755f0a;

$color-secondary-light: #84888f;
$color-secondary: #323437;
$color-secondary-dark: #1a1b1c;

$color-tertiary-light: #dd8991;
$color-tertiary: #ca4754;
$color-tertiary-dark: #78222b;

$color-text: #d1d0c5;
