$color-primary-light: #f6e399;
$color-primary: #e2b714;
$color-primary-dark: #755f0a;

// $color-secondary-light: #84888f;
// $color-secondary: #323437;
// $color-secondary-dark: #1a1b1c;

$color-secondary-light: #fff;
$color-secondary: #e6e6e6;
$color-secondary-dark: #c4c4c4;

$color-tertiary-light: #79a2ef;
$color-tertiary: #1a5bd7;
$color-tertiary-dark: #0b285e;

$color-quinary-light: #dd8991;
$color-quinary: #ca4754;
$color-quinary-dark: #78222b;

$color-quarternary-light: #84888f;
$color-quarternary: #323437;
$color-quarternary-dark: #1a1b1c;

$color-text: #d1d0c5;
