.form-login {
  background-color: $color-secondary-light;
  border: 4px solid $color-quinary;
  color: $color-text;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  align-self: start;
  justify-self: center;
  @include grid(2);

  h2 {
    font-size: 4rem;
    color: $color-primary;
    text-shadow: $color-tertiary 2px 2px;
  }

  .form {
    &-label {
      grid-column: 1 / -1;
      color: $color-quarternary;
      &-1 {
        @include fadeAnimation(50%, horizontal, 0.5s, 0s);
      }
      &-2 {
        @include fadeAnimation(50%, horizontal, 0.6s, 0s);
      }
      &-3 {
        @include fadeAnimation(50%, horizontal, 0.7s, 0s);
      }
      &-4 {
        @include fadeAnimation(50%, horizontal, 0.8s, 0s);
      }
      &-5 {
        @include fadeAnimation(50%, horizontal, 0.9s, 0s);
      }
    }
    &-control {
      grid-column: 1 / -1;
      background-color: $color-primary;
      color: black;
      &:hover,
      &:focus {
        @include hover;
      }
      &::placeholder:hover {
        color: $color-text !important;
      }
    }
  }

  span {
    grid-column: 1 / -1;
  }

  .btn {
    background-color: $color-quarternary !important;
    // color: $color-tertiary !important;
    width: 99%;
    margin: 20px 0;
    align-self: center;
    border: 1px solid $color-quarternary-dark;
    &:hover {
      @include hover($color-tertiary, $color-text);
    }
    &-1 {
      justify-self: start;
    }
    &-2 {
      justify-self: end;
      font-size: 1.8rem !important;
    }
  }

  input {
    @extend %txtbox;
    padding: 5px;
    font-size: 1.75rem;
    color: $color-text;
    &::placeholder {
      color: $color-secondary;
    }
  }
}

.disable {
  display: none;
}
