.nav {
  @include flex(space-between);
  align-items: center;
  &-btn {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: $color-text;
    height: 35px;
    position: relative;

    &:after {
      // background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $color-tertiary;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      content: "";
      width: 100%;
      left: 0;
    }

    &-1 {
      @include fadeAnimation(50%, vertical, 0.5s, 0s, 0);
    }
    &-2 {
      @include fadeAnimation(50%, vertical, 0.6s, 0s, 0);
    }
    &-3 {
      @include fadeAnimation(50%, vertical, 0.7s, 0s, 0);
    }
    &-4 {
      @include fadeAnimation(50%, vertical, 0.8s, 0s, 0);
    }
    &-5 {
      @include fadeAnimation(50%, vertical, 0.9s, 0s, 0);
    }
  }
}
